/* CSS for styling products */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin: 20px;
}

.back-home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.back-home-button:hover {
    background-color: #218838;
}

/* Products Section */
#food-products {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

#food-products h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #333;
}

/* Product container grid */
.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}

.product {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.product-description {
    font-size: 1rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    margin-bottom: 15px;
    padding: 5px;
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

.product p {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
    }

    .product img {
        width: 100%;
        max-width: 150px;
        height: 150px;
    }
}
