body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.category-selector {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005c9e;
}

.product {
    display:inline-block;
    background-color: #fff;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

h2 {
    font-size: 24px;
    color: #007acc;
    margin: 0;
}


